.a{color:#949494;background:#ffffff;font:var(--f)}
.b{color:#949494;background:#ffffff;font-size:2em}
.c{color:#949494;background:#ffffff;font-size:150%}
.d{color:#949494;background:#ffffff;font-size:var(--big)}
.e{color:#949494;background:#ffffff;font:menu}
